<header class="pageheader" >
    <div class="page-header-wrapper">
        <a class="logo-holder">
            <img src="../../../assets/images/swedbank-logo.png" alt="logo image" class="logo" >
        </a>
        <div class="environment">

        </div>
    </div>
    
</header>
<div class=" banner">
    <div class="container">
        <nav aria-label=" breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a (click)="goHome()" >Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Mortgage Form</li>
            </ol>
          </nav>

    </div>
    
</div>

