
<div class="more_info_grid ">
    <div class="right-content container ">

      <div class="mt-4">
        <h2 class="right-content-title" style="text-align: center">
          Mortgage Loan
        </h2>
        <span style="text-align: center; margin-bottom: 20px"
          >If the total amount of a home loan being taken out related to real estate is EUR 67,000, when the duration of the credit agreement is 26 years with a 2.3 per cent variable annual interest rate, paying a one-off loan agreement administration fee established by the bank of 0.4 per cent of the credit amount (EUR 268), the minimum daily service fee (EUR 0.70 per month), the mortgage registration fee (EUR 31.28) and annuity mortgage payments, then the annual percentage rate of charge would be 2.4 per cent, and the total amount paid to the borrower would be EUR 89,758. The total number of loan payments would be 312, and the amount of each instalment would be EUR 286.

          The annual percentage rate of charge, the total amount payable by the borrower, the total number of loan payments and the amount of each instalment are calculated under the assumption that the credit agreement will be valid for a period equal to the duration of the credit agreement, that the entire loan will be paid out on the day that the agreement is signed, that the parties will fulfil all of their obligations properly, and that the variable interest rate, fees and other costs will remain the same as at the time of conclusion of the credit agreement and will continue to apply until the end of the credit agreement. A customer shall also bear the costs of property insurance and appraisal. These costs depend on the individual characteristics of collateral and, therefore, are not included in the total credit price in the example above.
          
          If the loan agreement is concluded in a foreign currency, i.e. if the currency of the customer’s revenues (or the major share thereof) and/or the customer’s state of residence, which is an EU member state or a member state of the European Economic Area, from the currency of the loan issued in euros, the change of the foreign currency compared to euro may significantly increase the amount of the issued loan and the associated payments.
          
          The loan must be secured by mortgage of real estate acceptable to the bank, and the mortgaged property must be insured by concluding an insurance agreement. A report by an independent property appraiser may be required on the value of the collateral. The costs of property insurance and appraisal depend on individual characteristics of collateral, and shall be prescribed by agreements you may have with the relevant service providers.
          
          By using these financing services, you are assuming financial obligations. Improper fulfilment or non-fulfilment of financial obligations may have a negative impact on your credit history and make borrowing more expensive; you also risk losing ownership rights to the mortgaged real estate.</span
        >
        
      </div>
      <br>
      <a class="swed-btn--btn-success mx-2 " routerLink="/form">Proceed to Form</a>
      
      
    </div>
    
    
    
    <div class="left-content">
        <div class="left-content-container">
          <div class="left-content-info box1">
            <p class="box-info">
              Everyday Banking
    
              <i
                class="fa fa-bar-chart d-block fa-3x mt-3"
                style="color: rgba(241, 31, 31, 0.897)"
              ></i>
            </p>
          </div>
          <div class="left-content-info box2">
            <p class="box-info">
              Loan, leasing
              <i
                class="fa fa-home d-block fa-3x mt-3"
                style="color: rgba(241, 31, 31, 0.897)"
              ></i>
            </p>
          </div>
          <div class="left-content-info box3">
            <p class="box-info">
              Savings, Investments
              <i
                class="fa fa-area-chart d-block fa-3x mt-3"
                style="color: rgba(241, 31, 31, 0.897)"
              ></i>
            </p>
          </div>
          <div class="left-content-info box4">
            <p class="box-info">
              Pensions
              <i
                class="fa fa-line-chart d-block fa-3x mt-3"
                style="color: rgba(241, 31, 31, 0.897)"
              ></i>
            </p>
          </div>
          <div class="left-content-info box5">
            <p class="box-info">
              Insurance
              <i
                class="fa fa-superpowers d-block fa-3x mt-3"
                style="color: rgba(241, 31, 31, 0.897)"
              ></i>
            </p>
          </div>
    
          
        </div>
      </div>
  </div>